#loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(10,30,30,.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}